@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  .hero_animation {
    background-color: linear-gardient(
      147.92deg,
      hsal(239, 76%, 53%, 0.456) 10.41%,
      hsal(0, 0%, 100%, 0) 89.25
    );
    animation: changeBackgroundColour 8s infinite alternative;
  }
  @keyframes changeBackgroundColour {
    0%,
    100% {
      opacity: 1;
    }
    16.67% {
      opacity: 0, 9;
    }
    33.33% {
      opacity: 0.8;
    }
    66.67% {
      opacity: 0.5;
    }
    83.33% {
      opacity: 0.3;
    }
  }
}
